
extends layout

block content
  #intro
    .row
      .col.intro-header
        //- get title from MD file
        h2!=contents['index.md'].metadata.title
      .intro-content
        //-get content from index.md file in contents
        h5!=contents['index.md'].html
    .row.home-icons.container
      .col.l3.m6.s6
        .icon-container
          img(src="images/head.png")
        h4.center-align research
      .col.l3.m6.s6
        .icon-container
          img(src="images/layout.png")
        h4.center-align design
      .col.l3.m6.s6
        .icon-container
          img(src="images/phone-with-hand.png")
        h4.center-align testing
      .col.l3.m6.s6
        .icon-container
          //- i.fa.fa-refresh.intro-icon
          img(src="images/couple-of-arrows-changing-places.png")
        h4.center-align refinement
    .row.nav-down-content
      .button-down.center-align
        .small-text more about process
        a.i.fa.fa-angle-down.nav-icon(href='#case-studies').black-text
  #case-studies
    .row.container
      //- .col
      //-   a.button-collapse(href='#', data-activates='slide-out').black-text
      //-     i.material-icons menu
      .col.section-header
        h2 Process
        h5 selected case studies
    .row.container
      each article in env.helpers.getArticles(contents).sort(function(a,b){if(a.url>b.url) {return 1;}if(a.url<b.url){return -1;}return 0;})
        if article.metadata.featured
          .col.case-container
            .col.l6.m6.s12.case-image(style='background-image:url("'+article.url+'feature.jpg")')
            .col.l6.m6.s12
              .case-teaser
                h3!=article.metadata.title
                p!=article.metadata.excerpt
                a(href=article.url) see more
    .row.nav-down-content
      .intro-content.button-down
        .small-text work
        a.i.fa.fa-angle-down.nav-icon(href='#work').black-text
  #work
    include work
    .row.nav-down-content
      .intro-content.button-down
        .small-text about
        a.i.fa.fa-angle-down.nav-icon(href='#about').black-text
  #about
    .row.container
      .col.section-header
        h2 About
        h5 bio & contact info
        a.i.fa.fa-linkedin-square.nav-icon(href='https://www.linkedin.com/in/joanna-chin').black-text
        a.i.fa.fa-twitter-square.nav-icon(href='https://twitter.com/jojoychin').black-text
        a.i.fa.fa-facebook-square.nav-icon(href='https://www.facebook.com/jojoychin').black-text
        a.i.fa.fa-instagram.nav-icon(href='https://www.instagram.com/jojoychin').black-text
    .row
    .row.container
      .about-image
        img(src="images/jo_picture.jpg")
    .row.container
        p!=contents['about.md'].html
    .row.container.center-align
      .col.l6.m6.s6
          a.i.fa.fa-envelope.nav-icon(href='mailto:joanna.y.chin@gmail.com').black-text.about-icon
          a(href='mailto:joanna.y.chin@gmail.com').about-icon
            h5.bold.about-icon.valign.black-text email me
      .col.l6.m5.s6
          a.i.fa.fa-file-o.nav-icon(href="/images/resume_2016.pdf" download).black-text.about-icon
          a(href="/images/resume_2016.pdf" download).about-icon
            h5.bold.about-icon.valign.black-text download CV
      //- .col.l6.m12.s12.about-image
      //-   img(src="images/jo_picture.jpg")
      //-   .row
      //-     a.i.fa.fa-linkedin-square.nav-icon(href='https://www.linkedin.com/in/joanna-chin').black-text
      //-     a.i.fa.fa-twitter-square.nav-icon(href='https://twitter.com/jojoychin').black-text
      //-     a.i.fa.fa-facebook-square.nav-icon(href='https://www.facebook.com/jojoychin').black-text
      //-     a.i.fa.fa-instagram.nav-icon(href='https://www.instagram.com/jojoychin').black-text
      //- .col.l6.m12.s12
      //-   p!=contents['about.md'].html
      //-   .row.valign-wrapper
      //-       a.i.fa.fa-envelope.nav-icon(href='mailto:joanna.y.chin@gmail.com').black-text.valign
      //-       a(href='mailto:joanna.y.chin@gmail.com').valign.about-icon
      //-         h5.valign.bold email me
      //-       a.i.fa.fa-file-o.nav-icon(href="/images/resume_2016.pdf" download).black-text.valign
      //-       a(href="/images/resume_2016.pdf" download).valign.about-icon
      //-         h5.valign.bold download my CV
    .row.nav-down-content
      .button-down.center-align
        .small-text top
        a.i.fa.fa-angle-up.nav-icon(href='#top' font-size='2em').black-text


          //- h3!=contents['articles/jojo/index.md'].html
      block prepend footer

//- block content
  //- include homeIntro


  //- include author
  //- each article in articles
  //-   article.article.intro
  //-     header
          //- span= moment.utc(article.date).format('DD. MMMM YYYY')
        //- h2
        //-   a(href=article.url)= article.title
      section.content
        //- if article.intro.length > 0
        //-   != typogr(article.intro).typogrify()
        //- if article.hasMore
        //-   p.more
        //-     a(href=article.url) more

//- block prepend footer
//-   div.nav
//-     if prevPage
//-       a(href=prevPage.url) &laquo; Newer
//-     else
//-       a(href='/archive.html') &laquo; Archives
//-     if nextPage
//-       a(href=nextPage.url) Next page &raquo;
