.row.container
	.col.section-header
		h2 Work
		h5 projects & experiments
.row.container.work-container
	each article in env.helpers.getArticles(contents).sort(function(a,b){if(a.url>b.url) {return 1;}if(a.url<b.url){return -1;}return 0;})				
		.col.l4.m4.s6.thumbnails
			.grid
				figure.effect-julia.grid-item
					a(href=article.url)
						img(src="#{article.url}thumb.jpg")
						figcaption.valign-wrapper
							.valign
								h2=article.metadata.title
								if article.metadata.tag1
									p=article.metadata.tag1
								if article.metadata.tag2
									p=article.metadata.tag2
								if article.metadata.tag3
									p=article.metadata.tag3